<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>{{ category }} Blogs</title>
    <!-- Add your CSS and Bootstrap links here -->
</head>
<body>
    <h1>{{ category }} Blogs</h1>
    <dl class="row">
        {% if blog_list %}
            {% for item in blog_list %}
                <dt class="col-sm-2"><b>Title:</b></dt>
                <dd class="col-sm-10"><a href="/blog_info/{{ item['h1_title'] }}">{{ item['h1_title'] }}</a></dd>
                <dt class="col-sm-2"><b>Author:</b></dt>
                <dd class="col-sm-10">{{ item['author_name'] }}</dd>
                <dt class="col-sm-2"><b>Category:</b></dt>
                <dd class="col-sm-10">{{ item['industry'] }}</dd>
                <hr>
            {% endfor %}
        {% endif %}
    </dl>
    <!-- Add any additional content or buttons here -->
</body>
</html>
