<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>Blog</title>
</head>
<body>

    <h1>The list of blogs</h1>
    {% if blog_list %}
    <ol>
        {% for blog in blog_list %}
        <h1>Title : {{ blog['h1_title'] }} </h1> 
        <p>By: {{ blog['author_name'] }}</p>
        <p> Category: {{ blog['industry'] }}</p>
        <p>{{ blog['intro_paragraph'] }}</p>
        <h2>{{ blog['first_h2'] }}</h2>
        <p>{{ blog['first_h2_paragraph'] }}</p>
        <h2>{{ blog['second_h2'] }}</h2>
        <p>{{ blog['second_h2_paragraph'] }}</p>
        <h2>To Wrap Up</h2>
        <p>{{ blog['conclusion'] }}</p>
        {% endfor %}
    </ol>
    {% endif %}
    
</body>
</html>